.table {
    width: 100%;
    text-align: center;
    padding: 0 30px 30px;
}

.title {
    background-color: rgb(6, 143, 143);
    padding: 20px;
    color: white;
    letter-spacing: .02em;
}

.row {
    height: 50px;
}

.row:nth-child(2n) {
    background-color: rgb(236, 232, 226);
}