.list {
    display: inline-flex;
    list-style: none;
}

.item {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.text {
    color: rgb(113, 105, 105);
    margin-top: 10px;
}

